body{
    display: flex;
}
.photo-vertical{
    background-color: antiquewhite;
}
form{
    margin-left: 30px;
}
.form-area {  /*parent container*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form-header { /*top container*/
    flex: 1;
}
.form-container {/*bottom container*/
    display: flex;
    flex: 1;
}
.form-container-left {
    flex: 1;
}
.form-container-right {
    flex: 1;
}
